{% extends "base_message.html.twig" %}
{% block vv %}
{% embed 'Embed/box.html.twig' %}
                {% block title %}
                    <i class='fa fa-envelope'></i> Demandes reçues
                {% endblock %}
                {% block boxContent %}
                <div class="mailbox-messages">
                <form action="{{ url('messages_action_group', {action: 'delete'}) }}" id= "action_group" method="post">
                          <table class="table table-hover">
                            <thead>
                                <tr>
                                    {# <th class="no-sort text-center"></th> #}
                                    <th>De :</th>
                                    <th class="no-sort text-center">Sujet / Message</th>
                                    <th class="no-sort" width="20%">Date de réception</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if messages %}
                            {% for m in messages %}
                                <tr {% if m.status == 0 or m.status is null %}class="active"{% endif %}>
                                  {# <td class="text-center"><input type="checkbox" class="checkthis" name="element[]" value="{{ m.id }}" /></td> #}
                                  <td class="mailbox-name align-vertical"><a href="#" class="{% if m.vue %}is_read{% endif %}">{{ m.userSender.entite.abreviation }}</a></td>
                                  <td class="mailbox-subject align-vertical {% if m.vue %}is_read{% endif %}"><a  class="{% if m.status %}is_read{% endif %}" href="{{ path('arssam_message_show', {'id': m.id}) }}"><b>{{ m.sujet|truncate(30, true, '...') }}</b></a></td>
                                  <td class="mailbox-date align-vertical">{{ m.createdAt|date("d/m/Y H:i") }}</td>
                                </tr>
                            {% endfor %}
                             {% else %}
                                 <tr>
                                     <td colspan="4">Pas de résultat</td>
                                 </tr>    
                            {% endif %}
                            </tbody>
                          </table>
                          <!-- /.table -->
                             {% if messages %}
                            <div class="btn-group dropup action-group">
                            {# <button class="btn btn-default btn-flat" aria-haspopup="true" data-toggle="dropdown" type="button">Actions groupées</button> #}
                            {# <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-default btn-flat dropdown-toggle" type="button">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Action</span>
                            </button> #}
                            {# <ul class="dropdown-menu">
                                <li><a href="javascript:;" id="select-all"><i class="fa fa-fw fa-square-o"></i>Sélectionner tout</a></li>
                                <li><a href="javascript:;" id="unselect-all"><i class="fa fa-fw fa-square-o"></i>Désélectionner tout</a></li>
                                <li class="divider" role="separator"></li>
                                <li><a href="javascript:;" id="delete-selected" onclick="return groupAction('delete', 'Êtes-vous sûr de vouloir supprimer ces messages?');"><i class="fa fa-fw fa-trash-o"></i>Supprimer la sélection</a></li>
                            </ul> #}
                        </div>
                       
                                <div class="navigation">
                                        {{ knp_pagination_render(messages) }}
                                 </div>
                            {% endif %}
                    </form>        
                </div>  
                {% endblock %}
        {% endembed %}
{% endblock %}        
