{% extends 'base.html.twig' %}

{% block content %}
    <h1>Typologies list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Sujet</th>
                <th>Entite</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typologie in typologies %}
            <tr>
                <td><a href="{{ path('adminarssam_typologie_show', { 'id': typologie.id }) }}">{{ typologie.id }}</a></td>
                <td>{{ typologie.sujet }}</td>
                <td>{{ typologie.entite.abreviation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('adminarssam_typologie_show', { 'id': typologie.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('adminarssam_typologie_edit', { 'id': typologie.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('adminarssam_typologie_new') }}">Create a new typologie</a>
        </li>
    </ul>
{% endblock %}
