{% extends 'base.html.twig' %}
{% block stylesheets %}
{{parent()}}
<style>
.myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBarGTA {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
}
#myBarDGD {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
}
#myBarOT {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
}
.title-monito{
   background-color: #3c9ebc;
text-align: center;
padding: 10px;
}
thead.other-color{
    background-color: #cccccc !important;
}
.marge-filter .col-md-3{
    margin-bottom: 15px;
}
</style>
{% endblock %}
{% block header %}
<h1>Dashboard</h1>
{% endblock %}

{% block content %}
               <div class="row">
            {# <div class="col-md-4">
                {% embed 'Embed/box.html.twig' %}
                    {% block boxClass %}box box-info{% endblock %}
                    {% block title %}
                        <i class="glyphicon glyphicon-stop"></i>
                        Recherche
                    {% endblock %}
                    {% block boxTools %}
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    {% endblock %}
                    {% block boxContent %}
                        <input type="text" class="form-control" placeholder="Recherche ...">
                    {% endblock %}
                {% endembed %}
            </div> #}
            {# <div class="col-md-4">
                {% embed 'Embed/box.html.twig' %}
                    {% block boxClass %}box box-info{% endblock %}
                    {% block title %}
                        <i class="glyphicon glyphicon-stop"></i>
                        Consultation des logs
                    {% endblock %}
                    {% block boxTools %}
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    {% endblock %}
                    {% block boxContent %}

                    <div class="col-md-12" style="padding-left:0px;">
                        <select class="form-control">
                            <option>Aujourd'hui</option>
                            <option value="1">Hier</option>
                            <option value="2">Les 7 derniers jours</option>
                            <option value="3">Ce mois-ci</option>
                        </select>
                    </div>
                    
                    {% endblock %}
                {% endembed %}
            </div> #}
           {% if not is_granted('ROLE_SUPER_ADMIN') %}
            <div class="col-md-4">
                {% embed 'Embed/box.html.twig' %}
                    {% block boxClass %}box box-info{% endblock %}
                    {% block title %}
                        <i class="glyphicon glyphicon-stop"></i>
                       Import
                    {% endblock %}
                    {% block boxTools %}
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    {% endblock %}
                    {% block boxContent %}

                    <div class="col-md-12" style="padding-left:0px;">
                     {% if app.user.entite and app.user.entite.abreviation=='GTA'%}
                        <a href="{{path('arssam_import_gta')}}" class="btn btn-primary import">GTA</a>
                     {% endif %} 
                     {% if app.user.entite and app.user.entite.abreviation=='DGD'%}
                        <a href="{{path('arssam_import_dgd')}}" class="btn btn-success import">DGD</a>
                     {% endif %}  
                     {% if app.user.entite and app.user.entite.abreviation=='PAF'%} 
                        <a href="{{path('arssam_import_passenger')}}" class="btn btn-danger import">PAF</a>
                     {% endif %}   
                        {# <button class="btn btn-primary pull-right" id="import">Importer</button> #}
                    </div>
                    
                    {% endblock %}
                {% endembed %}
            </div>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_FOCAL')%}
            <div class="col-md-12">
                {% embed 'Embed/box.html.twig' %}
                    {% block boxClass %}box box-info{% endblock %}
                    {% block title %}
                        <i class="glyphicon glyphicon-stop"></i>
                        Monitoring
                    {% endblock %}
                    {% block boxTools %}
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    {% endblock %}
                    {% block boxContent %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    {{ render(controller('AppBundle:Admin:filter')) }}
                        <br/>
                    {% for e in entites %}
                    <div class="row" style="margin-bottom:20px;">
                        <div class="col-md-12">
                            <h4 class='title-monito'>{{e.nom}} - {{e.abreviation}}</h4>
                        </div>
                        <div style="padding:15px;">
                            <div class="col-md-6">
                            {# {{ render(controller('AppBundle:Monitoring:getMsgReceived',
                            { 'entite': e }
                            )) }} #}
                            {% include 'admin/monitoring/received-test.html.twig' with {'entite': e} %}
                            </div>
                            <div class="col-md-6">
                                {# {{ render(controller('AppBundle:Monitoring:getMsgSent',
                                { 'entite': e }
                                )) }} #}
                            {% include 'admin/monitoring/sent-test.html.twig' with {'entite': e} %}    
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% elseif is_granted('ROLE_FOCAL') %}
                        {{ render(controller('AppBundle:Admin:filter')) }}
                        <br/>
                        <div class="col-md-12">
                            <h4 class='title-monito'>{{app.user.entite.nom}} - {{app.user.entite.abreviation}}</h4>
                        </div>
                        <div style="padding:15px">
                            <div class="col-md-6">
                                {# {{ render(controller('AppBundle:Monitoring:getMsgReceived',
                                { 'entite': app.user.entite }
                                )) }} #}
                                {% include 'admin/monitoring/received-test.html.twig' with {'entite': app.user.entite} %}
                                </div>
                            <div class="col-md-6">
                                {# {{ render(controller('AppBundle:Monitoring:getMsgSent',
                                { 'entite': app.user.entite }
                                )) }} #}
                                {% include 'admin/monitoring/sent-test.html.twig' with {'entite': app.user.entite} %}
                            </div>
                        </div>
                    {% endif %}
                    
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
        {% endif %}
        {% include ':admin:_popupProgressImport.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
    $(document).ready(function(){
        {% if is_granted('ROLE_FOCAL') and not is_granted('ROLE_SUPER_ADMIN')%}
        var sufix = '{{app.user.entite.abreviation}}';
        $('#table_monitoring_received_'+sufix).DataTable({
                    "lengthChange": false,
                    "searching": false,
                    "ordering": false,
                    "info": false,
					"responsive": true,
					"processing": true,
					"serverSide": true,
					"iDisplayLength": 5,
					"lengthMenu": [ [50, 100, 200], [50, 100, 200] ],
					"ajax": {
						"url":"{{ path('arssam_monitoring_received_ss') }}",
                        "data": function ( d ) {
							d.entiteId =  $('#received_valueId_'+sufix).val();
						}
						},
					"language": {
                        "sSearch": "Recherche:",
                        "sProcessing":     "Traitement en cours...",
                        "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
                        "oPaginate": {
                        "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
                        },
                    }
					}
					)
                    .on('xhr.dt', function ( e, settings, json, xhr ) {
						$('#nb_received_'+sufix).html(json.recordsTotal);
					} );

                   $('#table_monitoring_sent_'+sufix).DataTable({
                    "lengthChange": false,
                    "searching": false,
                    "ordering": false,
                    "info": false,
					"responsive": true,
					"processing": true,
					"serverSide": true,
					"iDisplayLength": 5,
					"lengthMenu": [ [5, 10, 50], [5, 10, 50] ],
					"ajax": {
						"url":"{{ path('arssam_monitoring_sent_ss') }}",
                        "data": function ( d ) {
							d.entiteId =  $('#sent_valueId_'+sufix).val();
						}
						},
					"language": {
                        "sSearch": "Recherche:",
                        "sProcessing":     "Traitement en cours...",
                        "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
                        "oPaginate": {
                        "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
                        },
                    }
					}
					)
                    .on('xhr.dt', function ( e, settings, json, xhr ) {
						$('#nb_sent_'+sufix).html(json.recordsTotal);
					} ); 
        {% endif %}
        {% if is_granted ('ROLE_SUPER_ADMIN') %} 
             {% for k,e in entites %}
             var sufix = '{{e.abreviation}}';
             $('#table_monitoring_received_'+sufix).DataTable({
                    "lengthChange": false,
                    "searching": false,
                    "ordering": false,
                    "info": false,
					"responsive": true,
					"processing": true,
					"serverSide": true,
					"iDisplayLength": 5,
					"lengthMenu": [ [50, 100, 200], [50, 100, 200] ],
					"ajax": {
						"url":"{{ path('arssam_monitoring_received_ss') }}",
                        "data": function ( d ) {
							d.entiteId =  $('#received_valueId_'+sufix).val();
						}
						},
					"language": {
                        "sSearch": "Recherche:",
                        "sProcessing":     "Traitement en cours...",
                        "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
                        "oPaginate": {
                        "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
                        },
                    }
					}
					)
                    .on('xhr.dt', function ( e, settings, json, xhr ) {
                         var sufix = '{{e.abreviation}}';
						$('#nb_received_'+sufix).html(json.recordsTotal);
					});

                   $('#table_monitoring_sent_'+sufix).DataTable({
                    "lengthChange": false,
                    "searching": false,
                    "ordering": false,
                    "info": false,
					"responsive": true,
					"processing": true,
					"serverSide": true,
					"iDisplayLength": 5,
					"lengthMenu": [ [50, 100, 200], [50, 100, 200] ],
					"ajax": {
						"url":"{{ path('arssam_monitoring_sent_ss') }}",
                        "data": function ( d ) {
							d.entiteId =  $('#sent_valueId_'+sufix).val();
						}
						},
					"language": {
                        "sSearch": "Recherche:",
                        "sProcessing":     "Traitement en cours...",
                        "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
                        "oPaginate": {
                        "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
                        },
                    }
					}
					)
                    .on('xhr.dt', function ( e, settings, json, xhr ) {
                        var sufix = '{{e.abreviation}}';
						$('#nb_sent_'+sufix).html(json.recordsTotal);
					} );
             {% endfor %}
        {% endif %}
    })
    $(".import").click(function(){
        addCache();
    });
     $('#reset').click(function (e) {
                $('#dateDeb').val('');
                $('#dateFin').val('');
                $('#entite').val('').trigger("change");
                $('#status').val('').trigger("change");
                $('#typologie').val('').trigger("change");
                $('#form-filter-dashboard').submit();

            });
    /*    $("#import").click(function(){
            var tDGA = tDGD = tOT = false
            $("#modalProgress").modal({
                backdrop: 'static',
                keyboard: false
            });
            move('myBarGTA');
            $.ajax({
                    type: "POST",
                    dataType: "text",
                    url: "{{ path('arssam_import_gta') }}",
                    cache: false,
                    success: function(data){
                        complete('myBarGTA');
                        
                        tDGA = true;
                    },
                    error:function(jqXHR, textStatus, errorThrown) {
                        console.log("Error: "+textStatus+" "+errorThrown);
                    }
                });
            move('myBarDGD');
           $.ajax({
                    type: "POST",
                    dataType: "text",
                    url: "{{ path('arssam_import_dgd') }}",
                    cache: false,
                    success: function(data){
                        complete('myBarDGD');
                        tDGD = true;
                    },
                    error:function(jqXHR, textStatus, errorThrown) {
                        console.log("Error: "+textStatus+" "+errorThrown);
                    }
                });
           move('myBarOT');
           $.ajax({
                    type: "POST",
                    dataType: "text",
                    url: "{{ path('arssam_import_passenger') }}",
                    cache: false,
                    success: function(data){
                        complete('myBarOT');
                        tOT = true;
                    },
                    error:function(jqXHR, textStatus, errorThrown) {
                        console.log("Error: "+textStatus+" "+errorThrown);
                    }
                });  
          /*if(tOT && tDGD && tDGA){      
          $("#modalProgress").modal("hide");
          } 
        })*/
        function move(id) {
            var elem = document.getElementById(id);   
            var width = 1;
            var interval = setInterval(frame(id), 60);
            function frame(id) {
                var newElem = document.getElementById(id);
                if(newElem.style.width =='100%'){
                   clearInterval(interval)
                }
                if (width >= 90) {
                clearInterval(interval);
                } else {
                width++; 
                elem.style.width = width + '%'; 
                }
            }
        }
        function complete(id){
            var elem = document.getElementById(id);   
            var width = 90;
            var id = setInterval(frame, 40);
            function frame() {
                if (width >= 100) {
                clearInterval(id);
                } else {
                width++; 
                elem.style.width = width + '%'; 
                }
            }
        }
    </script>
{% endblock %}
