{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}

<div class="login-dark">
{% if error %}
   <div class="error-login"><i class="fa fa-exclamation-triangle"></i> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
    <div class="illustration"><i class="fa fa-lock"></i></div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="formgroup">
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" required="required" />
        </div>
        <div class="formgroup">
            <label for="password"></label>
            <input class="form-control" type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required" />
        <div>
        <br/>
    <input class="btn btn-primary btn-block"  type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </form>
</div>

{% endblock fos_user_content %}