{% extends 'base_interne.html.twig' %}
{% block body %}
<div class="animated bounceInRight" style="
    margin-top: 1rem;
    padding-top: 5px;">
<h2>{{article.titre}}</h2>
</div>
<article>
            {# <span class="image  animated bounceInRight">
                <img src="{{asset(article.image.webPath  ~ article.image.photo)}}" alt="">
            </span> #}
            <div class="img-article" style="background-image:url('{{asset(article.image.webPath  ~ article.image.photo)}}')">

            </div>
            <div class="content animated bounceInLeft" style="text-align:left; padding:0 15% 5% 15%;">
                <p>{{article.contenue|raw}}</p>
            </div>
        </article>
        {% if other|length %}
        <div class="row" style="border-top:solid 1px #ccc; margin: 25px 0px 0px 5px; padding: 15px;">
           {% for a in other %}
            <div class="card col-lg-2" >
            <a href="{{path('voahary_article_lire',{'id':a.id})}}" style="text-decoration:none;">
                <div style="background-image:url('{{asset(a.image.webPath  ~ a.image.photo)}}'); height:5rem;background-size:cover"></div> 
                <div class="card-body">
                    <h4 class="card-title">{{a.titre}}</h4>
                    {# <p style="font-size:0.7rem" class="card-text">{{a.contenue|truncate(100)|raw}}</p> #}
                </div>
            </a>    
            </div>
            {% endfor %}
        </div>
        {% endif %}
{% endblock %}