{% block navbar %}
<nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            {% block nabarLinks %}
                {% if is_granted('ROLE_SUPER_ADMIN') == false %}
                 {% include ':menu:navbarLinks.html.twig' %}
                {% endif %}
            {% endblock %}
            <!-- User Account Menu -->
            <li class="{% if 'profile' in routeName %}active{% endif %} dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <!-- The user image in the navbar-->
                    {# <img src="{{ asset('bundles/app/img/logo-small.png') }}" height="50" width="50" class="user-image" alt="User Image"> #}
                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                    <span class="hidden-xs">{{ app.user.email }}</span>
                </a>
                <ul class="dropdown-menu">
                    <!-- The user image in the menu -->
                    <li class="user-header" style="color: black;">
                        <img src="{{ asset('uploads/images/photoProfil/'~ app.user.photo) }}" height="50" width="50"  class="img-circle" alt="User Image">
                        <p>
                            {{ app.user.email }}
                            <small>Dernière connexion {{ app.user.lastLogin|date }}</small>
                        </p>
                    </li>
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="{{ path('arssam_user_edit', {'id': app.user.id}) }}" class="btn btn-default btn-flat">Mon profil</a>
                        </div>
                        <div class="pull-right">
                            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Déconnexion</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}