{% block sidebar %}
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            {% include ':Menu:sidebarUserInfos.html.twig' %}
        </div>

        <!-- search form (Optional) -->
            {#{% include ':menu:searchForm.html.twig' %}#}
        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
        {% if is_granted('ROLE_SUPER_ADMIN')  %}
            <li class="header">ADMIN AREA</li>
            <li class="{% if 'arssam_user_' in routeName %}active{% endif %}"><a href="{{path('arssam_user_list')}}"><i class="fa fa-users"></i> <span>Gestion des utilisateurs</span></a></li>
        
            <li class="{% if 'event_' in routeName %}active{% endif %}"><a href="{{path('event_index')}}"><i class="fa fa-calendar"></i> <span>Gestion des évènements</span></a></li> 

            <li class="{% if 'parametre_' in routeName %}active{% endif %}"><a href="{{path('parametre_index')}}"><i class="fa fa-cogs"></i> <span>Paramétrage</span></a></li> 

            <li class="{% if 'article_' in routeName %}active{% endif %}"><a href="{{path('article_index')}}"><i class="fa fa-newspaper-o"></i> <span>Article</span></a></li> 

            <li class="{% if 'voaharyadmin_carousel_' in routeName %}active{% endif %}"><a href="{{path('voaharyadmin_carousel_index')}}"><i class="fa fa-slideshare"></i> <span>Slide</span></a></li> 

            <li class="{% if 'voaharyadmin_produit_' in routeName %}active{% endif %}"><a href="{{path('voaharyadmin_produit_index')}}"><i class="fa fa-cubes"></i> <span>Produit</span></a></li> 
                
        {% endif %}
        
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
{% endblock %}